body{

    font-family: 'Signika', sans-serif;
}

header{
    background-color: #D8D16E;
    color: black;
    font-size: 24px;
    padding: 0.1px;
    text-align: center;

    display: flex;
    justify-content: center;
}

main .page-title{
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
  
}

.content {
    display: flex;

    section{
        flex: 1;
    }

    aside{
        background-color: aqua;
        min-width: 50px;
    }

}

aside{
    text-align: end;
}

