
.content{

    display: flex;
    
}

aside{
        
    background-color: #ccc;
    min-width: 450px;
    text-align: center;
}

section{
        
    width: 40px;
    flex: 1;
}

tr{
    border-bottom: 4px solid    ; 
    
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    text-transform: uppercase;
    color: #ccc;
    text-align: left;
    padding: 10px
    
}